div.home-link
{
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: center;
}
div.center
{
  text-align: left;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo-img {
  display: inline-block;
}

.login-form {
  padding-top: 5%;
  margin: auto;
  width: 50%;
}

.email-field, .first-name-field, .last-name-field, .password-field, .birthday-labels, .birthday-fields, .updates-field, .terms-field, .button-field {
  margin-top: 2%;
}

#birthdayHelp {
  display:block;
}

.month {
  display: inline-block;
}

.day {
  display: inline-block;
}

.year {
  display: inline-block;
}

.button-field {
  width: 100%;
}

p {
  text-align: center;
}


a:link {color:#8ED91E; text-decoration: none;}
a:visited {color:#8ED91E; text-decoration: none;}
a:hover {color: #7ABD17;}
